<div class="container">
  <div class="backgound-header">
    <h1>LOS MEJORES CONCIERTOS DE MADRID</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card card-plain card-blog">
      <div class="card-header card-header-image">
        <a href="#pablo">
          <img
            class="img img-raised"
            src="https://demos.creative-tim.com/marketplace/material-kit-pro/assets/img/examples/card-blog4.jpg"
          />
        </a>
        <div
          class="colored-shadow"
          style="background-image: url(&quot;./assets/img/examples/blog7.jpg&quot;); opacity: 1;"
        ></div>
      </div>
      <div class="card-body">
        <h6 class="card-category text-danger">
          <i class="material-icons">trending_up</i>
          Enterprise
        </h6>
        <h4 class="card-title">
          <a href="#pablo">6 insights into the French Fashion landscape</a>
        </h4>
        <p class="card-description">
          Like so many organizations these days, Autodesk is a company in
          transition. It was until recently a traditional boxed software company
          selling licenses.
          <a href="#pablo"> Read More </a>
        </p>
      </div>
    </div>
  </div>
</div>