<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Registro de Usuario</h2>
            <form action="/user/edit" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label" >Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{currentUser.name}}" >
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{currentUser.email}}">
                </div>
            
                <div class="mb-3">
                    <label for="avatar" class="form-label">Avatar</label>
                    <input type="file" class="form-control" id="avatar" name="avatar">
                </div>
                <button type="submit" class="btn btn-primary">Editar</button>
            </form>
        </div>
    </div>
</div>
