<div class="container">

    {{#ifRoleIsUser currentUser}}

        <p>Nombre: {{currentUser.name}}</p>
        <p>Banda: {{currentUser.band.name}}</p>
        <div>
            <p>Avatar:</p>
            <img src="{{currentUser.band.avatar}}" width="100" alt="img">
        </div>

        <a href="/user/edit" class="btn btn-primary">Editar</a>
    {{/ifRoleIsUser}}
</div>