<div class="container">
    {{#ifRoleIsUser currentUser}}
        <div class="text-center mb-4">
            <img src="{{currentUser.band.avatar}}" class="rounded-circle border-0" alt="Avatar" style="width: 100px;">
        </div>
        <div class="text-center">
            <p class="mb-2">{{currentUser.name}}</p>
            <p class="mb-2">Banda: {{currentUser.band.name}}</p>
            <p class="mb-2">Email: {{currentUser.email}}</p>
        </div>
        <div class="text-center">
            <a href="/user/edit" class="btn btn-primary">Editar Perfil</a>
        </div>
    {{/ifRoleIsUser}}
</div>
