body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}
.band-avatar {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #fff;
}
.tag {
    background-color: #17a2b8;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
}
.tag:last-child {
    margin-right: 0;
}
.member {
    font-size: 18px;
    margin-bottom: 5px;
}

.event-details-container {
    background-color: #f8f9fa; /* Color de fondo */
    border: 1px solid #ced4da; /* Borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  